{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendar Horário</title>

    <link rel="stylesheet" href="{% static 'css/es.css' %}">
</head>

<body>

<header class="navbar">
    <h1>💈 Barbearia Delacruz</h1>
</header>

<section class="hero">
    <h2>Agende seu horário</h2>
    <p>Preencha os dados abaixo</p>
</section>

<section class="servicos">
{% if messages %}
    {% for message in messages %}
        <p style="color: lightgreen; text-align:center;">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}
    <form method="POST" class="card">
        {% csrf_token %}

        <label>Seu nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Serviço:</label><br>
        <select name="servico">
            <option>Corte</option>
            <option>Barba</option>
            <option>Corte + Barba</option>
        </select><br><br>

        <label>Data:</label><br>
<input type="date" name="data" required><br><br>

<label>Horário:</label><br>

<div style="display:flex; flex-wrap:wrap; gap:10px;">
    {% for h in horarios %}
        <label style="background:#1e293b; padding:8px 12px; border-radius:8px; cursor:pointer;">
            <input type="radio" name="hora" value="{{ h }}" required>
            {{ h }}
        </label>
    {% endfor %}
</div>

<br>

        <button type="submit">Confirmar Agendamento</button>
    </form>

</section>

<footer>
    <p>© 2026 Barbearia Delacruz</p>
</footer>

</body>
</html>