{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Serviços - Barbearia Delacruz</title>

    <link rel="stylesheet" href="{% static 'css/es.css' %}">
</head>

<body>

<header class="navbar">
    <h1>💈 Barbearia Delacruz</h1>
    <nav>
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'servico' %}">Serviços</a>
        <a href="{% url 'contato' %}">Contato</a>
    </nav>
</header>

<section class="servicos">
    <h2>Escolha seu estilo 🔥</h2>
    

    <div class="cards">

        <div class="card">
            <img src="{% static 'images/corte1.jpg' %}">
            
            
            <a href="{% url 'agendar' %}">
                <button>Agendar</button>
            </a>
        </div>

        <div class="card">
            <img src="{% static 'images/corte2.jpg' %}">
        
            <a href="{% url 'agendar' %}">
                <button>Agendar</button>
            </a>
        </div>

        <div class="card">
            <img src="{% static 'images/corte3.jpg' %}">
          
            <a href="{% url 'agendar' %}">
                <button>Agendar</button>
            </a>
        </div>

        <div class="card">
            <img src="{% static 'images/corte4.jpg' %}">
          
            <a href="{% url 'agendar' %}">
                <button>Agendar</button>
            </a>
        </div>

    </div>
</section>

<footer>
    <p>© 2026 Barbearia Delacruz</p>
</footer>

</body>
</html>