{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Barbearia Delacruz</title>
   <link rel="stylesheet" href="{% static 'css/es.css' %}">
</head>
<body>

<header class="navbar">
    <h1>💈 Barbearia Delacruz</h1>
    <nav>
        <a href="#">Início</a>
        <a href="#">Serviços</a>
        <a href="#">Contato</a>
    </nav>
</header>

<section class="hero">
    <h2>Seu estilo começa aqui</h2>
    <p>Cortes modernos, barba e atendimento de qualidade</p>
    <a href="{% url 'agendar' %}">
    <button>Agendar Agora</button>
</a>
</section>
<section class="servicos">
    <h2>Nossos Serviços</h2>

    <div class="cards">
        <div class="card">
            <h3>Corte Masculino</h3>
            <p>R$ 30,00</p>
               <a href="{% url 'agendar' %}">
                 <button>Agendar</button>
              </a>
        </div>

        <div class="card">
            <h3>Barba</h3>
            <p>R$ 20,00</p>
               <a href="{% url 'agendar' %}">
                 <button>Agendar</button>
              </a>
        </div>

        <div class="card">
            <h3>Corte + Barba</h3>
            <p>R$ 45,00</p>
               <a href="{% url 'agendar' %}">
                  <button>Agendar</button>
              </a>
        </div>
    </div>
</section>

<footer>
    <p>© 2026 Barbearia Delacruz</p>
</footer>

</body>
</html>